# Virtual Environment
Csp_env/





# Python and IDE artifacts
__pycache__/
*.pyc
*.pyd
.vscode/
.idea/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/



# Ignore the environment directory within 'src' if it was accidentally created
src/__pycache__/